layout {
    default_tab_template {
        ph_tabs size=1 borderless=true
        children
        ph_status size=1 borderless=true
    }
    tab name="edit" focus=true {
        pane command="ph-edit"
    }
    tab name="agent" {
        pane command="ph" { args "agent"; }
    }
    tab name="run" {
        pane
    }
}
